<ion-content>
  <ion-title mode="md" class="ion-text-center">
    <b class="ion-text-wrap">RSVP</b>
  </ion-title>
  <ion-grid
    *ngIf="rsvp.id == null"
    class="ion-align-items-center ion-text-center"
  >
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="ion-text-center"
            >Click here to type first and last name<br />as found on the
            invitation</ion-label
          >
          <ion-input [(ngModel)]="name" (keyup.enter)="getRsvp()"></ion-input>
        </ion-item>
        <br />
        <ion-label class="ion-text-center" style="font-size: 14px"
          >Por favor incluya acentos en su nombre</ion-label
        >
        <br />
        <br />
        <ion-button class="submit-button" (click)="getRsvp()"
          ><span class="submit-text">Search</span></ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="rsvp.id">
    <ion-row>
      <ion-col *ngIf="!isDesktop">
        <ion-list class="ion-align-items-center" style="width: 100%">
          <ion-item>
            <ion-label position="floating"
              >Invitee first and last name</ion-label
            >
            <ion-input [(ngModel)]="rsvp.name" name="name" required></ion-input>
          </ion-item>
          <ion-item *ngIf="rsvp.nameSecond">
            <ion-label position="floating"
              >Second invitee first and last name</ion-label
            >
            <ion-input
              [(ngModel)]="rsvp.nameSecond"
              name="nameSecond"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="rsvp.email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="label ion-text-wrap" position="stacked"
              >Will you be able to attend our wedding?</ion-label
            >
            <ion-radio-group
              [(ngModel)]="rsvp.toAcceptOrNotToAccept"
              class="radio-group"
              required
            >
              <ion-item>
                <ion-radio mode="md" value="{{true}}"></ion-radio>
                <ion-label class="radio-label">I will attend!</ion-label>
              </ion-item>
              <ion-item>
                <ion-radio mode="md" value="{{false}}"></ion-radio>
                <ion-label class="radio-label"
                  >I will not be able to attend.</ion-label
                >
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item
            *ngIf="rsvp.plusOneEnabled && rsvp.toAcceptOrNotToAccept == 'true'"
          >
            <ion-label class="label ion-text-wrap" position="stacked"
              >Will you be bringing a guest?</ion-label
            >
            <ion-radio-group
              *ngIf="rsvp.plusOneEnabled"
              [(ngModel)]="rsvp.plusOne"
              class="radio-group"
              required
            >
              <ion-item>
                <ion-radio mode="md" value="{{true}}"></ion-radio>
                <ion-label class="radio-label">Yes</ion-label>
              </ion-item>
              <ion-item>
                <ion-radio mode="md" value="{{false}}"></ion-radio>
                <ion-label class="radio-label">No</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item *ngIf="rsvp.plusOne == 'true'">
            <ion-label position="floating">Guest first and last name</ion-label>
            <ion-input
              [(ngModel)]="rsvp.plusOneName"
              name="name"
              required
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="rsvp.toAcceptOrNotToAccept == 'true'">
            <ion-label class="label" position="stacked"
              >For the main course, the first invitee would like:</ion-label
            >
            <ion-radio-group [(ngModel)]="rsvp.mealOption" class="radio-group">
              <ion-item *ngFor="let mealOption of mealOptions">
                <ion-radio mode="md" value="{{mealOption}}"></ion-radio>
                <ion-label class="radio-label">{{mealOption}}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item
            *ngIf="rsvp.toAcceptOrNotToAccept == 'true' && rsvp.nameSecond"
          >
            <ion-label position="stacked" class="label"
              >For the main course, the second invitee would like:</ion-label
            >
            <ion-radio-group
              [(ngModel)]="rsvp.mealOptionSecond"
              class="radio-group"
            >
              <ion-item *ngFor="let mealOption of mealOptions">
                <ion-radio mode="md" value="{{mealOption}}"></ion-radio>
                <ion-label class="radio-label">{{mealOption}}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item
            *ngIf="rsvp.toAcceptOrNotToAccept == 'true' && rsvp.plusOne == 'true'"
          >
            <ion-label position="stacked" class="label"
              >For the main course, my guest would like:</ion-label
            >
            <ion-radio-group
              [(ngModel)]="rsvp.mealOptionPlusOne"
              class="radio-group"
            >
              <ion-item *ngFor="let mealOption of mealOptions">
                <ion-radio mode="md" value="{{mealOption}}"></ion-radio>
                <ion-label class="radio-label">{{mealOption}}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item *ngIf="rsvp.toAcceptOrNotToAccept == 'true'">
            <ion-label class="ion-text-wrap diet-label" position="floating"
              >Please let us know about any allergies or dietary
              requirements</ion-label
            >
            <ion-input
              [(ngModel)]="rsvp.dietaryReqs"
              name="dietaryReqs"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="message">
            <ion-label class="label ion-text-wrap" position="stacked"
              >Any message you would like to leave for us?</ion-label
            >
            <ion-textarea
              class="message-textarea"
              [(ngModel)]="rsvp.message"
            ></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="isDesktop">
        <ion-list class="ion-align-items-center">
          <ion-item>
            <ion-label position="floating"
              >Invitee first and last name</ion-label
            >
            <ion-input [(ngModel)]="rsvp.name" name="name" required></ion-input>
          </ion-item>
          <ion-item *ngIf="rsvp.nameSecond">
            <ion-label position="floating"
              >Second invitee first and last name</ion-label
            >
            <ion-input
              [(ngModel)]="rsvp.nameSecond"
              name="nameSecond"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="rsvp.email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="label ion-text-wrap" position="stacked" class="label"
              >Will you be able to attend our wedding?</ion-label
            >
            <ion-radio-group
              [(ngModel)]="rsvp.toAcceptOrNotToAccept"
              class="radio-group"
              required
            >
              <ion-item>
                <ion-radio mode="md" value="{{true}}"></ion-radio>
                <ion-label class="radio-label">I will attend!</ion-label>
              </ion-item>
              <ion-item>
                <ion-radio mode="md" value="{{false}}"></ion-radio>
                <ion-label class="radio-label"
                  >I will not be able to attend.</ion-label
                >
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item
            *ngIf="rsvp.plusOneEnabled && rsvp.toAcceptOrNotToAccept == 'true'"
          >
            <ion-label class="label ion-text-wrap" position="stacked"
              >Will you be bringing a guest?</ion-label
            >
            <ion-radio-group
              [(ngModel)]="rsvp.plusOne"
              class="radio-group"
              required
            >
              <ion-item>
                <ion-radio mode="md" value="{{true}}"></ion-radio>
                <ion-label class="radio-label">Yes</ion-label>
              </ion-item>
              <ion-item>
                <ion-radio mode="md" value="{{false}}"></ion-radio>
                <ion-label class="radio-label">No</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item *ngIf="rsvp.plusOne == 'true'">
            <ion-label position="floating">Guest first and last name</ion-label>
            <ion-input
              [(ngModel)]="rsvp.plusOneName"
              name="name"
              required
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="rsvp.toAcceptOrNotToAccept == 'true'">
            <ion-label position="stacked" class="label"
              >For the main course, the first invitee would like:</ion-label
            >
            <ion-radio-group [(ngModel)]="rsvp.mealOption" class="radio-group">
              <ion-item class="radio" *ngFor="let mealOption of mealOptions">
                <ion-radio mode="md" value="{{mealOption}}"></ion-radio>
                <ion-label class="radio-label">{{mealOption}}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item
            *ngIf="rsvp.toAcceptOrNotToAccept == 'true' && rsvp.nameSecond"
          >
            <ion-label position="stacked" class="label"
              >For the main course, the second invitee would like:</ion-label
            >
            <ion-radio-group
              [(ngModel)]="rsvp.mealOptionSecond"
              class="radio-group"
            >
              <ion-item *ngFor="let mealOption of mealOptions">
                <ion-radio mode="md" value="{{mealOption}}"></ion-radio>
                <ion-label class="radio-label">{{mealOption}}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item
            *ngIf="rsvp.toAcceptOrNotToAccept == 'true' && rsvp.plusOne == 'true'"
          >
            <ion-label position="stacked" class="label"
              >For the main course, my guest would like:</ion-label
            >
            <ion-radio-group
              [(ngModel)]="rsvp.mealOptionPlusOne"
              class="radio-group"
            >
              <ion-item *ngFor="let mealOption of mealOptions">
                <ion-radio mode="md" value="{{mealOption}}"></ion-radio>
                <ion-label class="radio-label">{{mealOption}}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item *ngIf="rsvp.toAcceptOrNotToAccept == 'true'">
            <ion-label class="ion-text-wrap diet-label" position="floating"
              >Please let us know about any allergies or dietary
              requirements</ion-label
            >
            <ion-input
              [(ngModel)]="rsvp.dietaryReqs"
              name="dietaryReqs"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="message">
            <ion-label class="label ion-text-wrap" position="stacked"
              >Any message you would like to leave for us?</ion-label
            >
            <ion-textarea
              class="message-textarea"
              [(ngModel)]="rsvp.message"
            ></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="rsvp.id">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button
          class="submit-button"
          (click)="onSubmit()"
          [disabled]="rsvp.toAcceptOrNotToAccept == undefined || rsvp.email == undefined || (rsvp.toAcceptOrNotToAccept == 'true' && rsvp.mealOption == '') || (rsvp.plusOne == 'true' && rsvp.plusOneName == '')  || (rsvp.nameSecond && rsvp.mealOptionSecond == '')"
          ><span class="submit-text">Submit</span></ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div class="accent">
  <ion-img [src]="'../../../../assets/images/wedding/logo.png'"></ion-img>
</div>
