.logo {
  width: 20%;
  align-items: center;
  display: block;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.label {
  font-size: larger;
}

.header {
  text-align: center;
}

ion-title {
  margin-top: 3rem;
}
ion-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-list {
  background: none;
}

ion-item {
  --background: none;
  ion-label,
  ion-input,
  ion-textarea {
    font-family: "Bellefair", sans-serif;
    color: var(--wedding-text-color);
    --color: var(--wedding-text-color);
  }
}

ion-card {
  --background: rgb(238, 231, 215)
    url("../../../../assets/images/wedding/background.jpg") repeat center center /
    cover;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: goldenrod;
  width: 80%;
  border-style: double;
}

ion-col {
  z-index: 1;
}

ion-textarea {
  border: rgb(196, 196, 196) 1px solid;
  color: var(--wedding-text-color);
}

.radio {
  --padding-top: 0.3rem;
  --padding-bottom: 0.3rem;
}

.radio-group {
  margin-top: 1rem;
}

.radio-label {
  margin-left: 0.5rem;
}
.message {
  margin-bottom: 1rem;
}

.message-textarea {
  --padding-bottom: 1rem;
  --padding-top: 0;
  --padding-start: 0.5rem;
  margin-top: 1rem;
}

@media (max-width: 1300px) {
  .logo {
    width: 30%;
  }

  .diet-label {
    margin-bottom: 1rem;
  }
}

.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: #bdbdbd !important;
}

ion-item.item-has-focus > ion-label {
  color: #bdbdbd !important;
}

.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none;
}

.submit-button {
  --border-color: rgb(109, 104, 104);
  --border-style: double;
  --background: rgb(218, 214, 214);
}

.submit-text {
  color: black;
}

.body {
  margin-top: 1rem;
}

.accent {
  position: absolute;
}

@media (max-width: 1000px) {
  p {
    font-size: large;
  }

  .accent {
    position: relative;
  }
}
