<ion-content>
  <ion-title mode="md" class="ion-text-center">Venue</ion-title>
  <p class="ion-text-center body">
    <b style="font-weight: 600; font-size: 18px">The Winslow</b>
    <br />333 West Ostend St. <br />Baltimore, MD <br />21230
    <br />
  </p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="iframe">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3088.5811553781373!2d-76.62333288485303!3d39.27506897951415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c80343b3750fb3%3A0x70b7a6bcd3065834!2s333%20W%20Ostend%20St%2C%20Baltimore%2C%20MD%2021230!5e0!3m2!1sen!2sus!4v1652227004010!5m2!1sen!2sus"
            width="300"
            height="300"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="accent">
    <ion-img [src]="'../../../../assets/images/wedding/logo.png'"></ion-img>
  </div>
</ion-content>
