ion-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  ion-row {
    ion-col {
      z-index: 1;
    }
  }
}

.rsvp-button {
  --border-color: goldenrod;
  --border-style: double;
  --background: rgb(5, 132, 141);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.rsvp-text {
  color: gold;
}


p {
  margin-top: 1rem;
}

ion-title {
  margin-top: 3rem;
}

.iframe {
  border: 10px solid #11272b;
  height: 20rem;
}

@media (max-width: 1000px) {
  p {
    font-size: medium;
  }
}