<ion-content>
  <ion-title mode="md" class="ion-text-center title">COVID-19</ion-title>
  <p class="body">
    <b class="ion-text-wrap">
      Due to general safety precautions and out of care for our guests with
      compromised immune systems, we are following the ongoing information
      closely. <br />
      <br />Currently, we plan to provide tests for you upon arrival, but we
      strongly suggest taking a test before you travel as well. <br />We also
      recommend receiving the upcoming booster shot that has been modified for
      the newest strains of the virus. <br />Closer to the date, we will send
      out an email either confirming this plan or updating you of any changes.
    </b>
  </p>

  <p class="ion-text-center ion-text-wrap" style="font-size: 25px">
    We appreciate your cooperation <br />and look forward to celebrating safely
    with you!
  </p>
  <div class="accent">
    <ion-img [src]="'../../../../assets/images/wedding/logo.png'"></ion-img>
  </div>
</ion-content>
