<ion-content class="ion-text-center">
  <ion-title mode="md">Acknowledgements</ion-title>
  <p>
    <b class="ion-text-wrap">
      Website hosting server and initial setup by groomsman, Joey Sheldon.
      <br />
      <br />
      Home page photo by Camille Fontanez. | @camillefontz
      <br />
      <br />
      Art by the bride, Madison Cornwell.
      <br />
      <br />
      Website developed by the groom, Gilberto Aponte Prats.
    </b>
  </p>
</ion-content>
<div class="accent">
  <ion-img [src]="'../../assets/images/wedding/logo.png'"></ion-img>
</div>
