<ion-content>
  <ion-title mode="md" class="ion-text-center"> Registry </ion-title>
  <p class="ion-text-center body">
    <b class="ion-text-wrap">
      Gifts are not expected, but are very appreciated.
      <br />
      <br />We will be updating our registry until October 1<sup>st</sup>. To
      visit our current registry, please visit
      <a
        class="link"
        href="https://www.myregistry.com/wedding-registry/gilberto-aponte-prats-and-madison-cornwell-college-park-md/3420612"
        >here</a
      >. <br />If you prefer to bring a gift to the wedding rather than ordering
      online, there will be a table and card box available.
    </b>
  </p>
  <div class="accent">
    <ion-img [src]="'../../../../assets/images/wedding/logo.png'"></ion-img>
  </div>
</ion-content>
