ion-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  ion-row {
    ion-col {
      z-index: 1;
    }
  }
}

.rsvp-button {
  --border-color: goldenrod;
  --border-style: double;
  --background: rgb(5, 132, 141);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.rsvp-text {
  color: gold;
}

p {
  text-align: center;
  color: #fff;
}

ion-title {
  margin-top: 1rem;
}

.date-img {
  position: absolute;
  width: 40%;
  transform: translate(-50%, 0);
  left: 50%;
  top: 3rem;
}

.splash-img {
}

@media (max-width: 1000px) {
  .date-img {
    width: 70%;
    top: 1rem;
  }
  .splash-img {
    margin-top: 1rem;
    width: 120%;
    transform: translate(-10%, 0);
  }
  .accent {
    display: none;
  }
}
