<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="date-img" [src]="'../../../assets/images/wedding/date.png'"></ion-img>
        <ion-img class="splash-img" [src]="'../../../assets/images/wedding/splash-us.png'"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>