<ion-app>
  <div id="main-content">
    <ion-header mode="ios">
      <ion-toolbar class="desktop-menu">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <ion-buttons>
                <ion-button (click)="settingsPopover($event)">
                  <ion-icon name="menu"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
            <ion-col size="8">
              <ion-title class="ion-text-center" class="logo">
                <ion-img src="../assets/images/wedding/header-logo.png"></ion-img>
              </ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet
      class="main-content"
      style="margin-top: 4rem; background: var(--wedding-background)"
    ></ion-router-outlet>
  </div>
</ion-app>
