ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, --wedding-background));
}

ion-icon {
  color: var(--wedding-text-color);
}

ion-toolbar {
  height: 4rem;
}

ion-grid {
  padding-top: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

.active-link {
  --color: var(--ion-color-primary);
}

.link {
  --color: var(--ion-color-light);
}

.desktop-menu {
  --background: #11272b;
}

.logo {
  width: 25rem;
  transform: translate(-50%, 0);
  left: 50%;
  margin-top: .3rem;
}

iframe {
}
