ion-content {
    --background: #fff url('../../assets/images/main_background_20x16.png') no-repeat center center / cover;
    ion-slides {
        ion-slide {
            height: 10% !important;
            width: 20% !important;
            ion-card {
                ion-card-content {
                    ion-img {

                    }
                }
            }
        }
    }
    ion-list {
        background-color: transparent;
        width: 80%;
        ion-item {
            --background: rgb(255 255 255 / 50%);
        }
    }
}
