<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Madison & Gilberto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOptsOne" loop="true">
    <ion-slide *ngFor="let img of ourImages">
      <ion-card>
        <ion-card-content>
          <ion-img [src]="img"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-item *ngFor="let memory of ourMemories" button [routerLink]="['/', 'memories' ,'memory.id']">
      <ion-label>{{memory.name}}</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
