ion-content {
  min-height: 38rem;
}

ion-list {
    background: none;
  ion-item {
    --background: none;
    ion-icon, ion-label {
      color: var(--wedding-text-color);
      --color: var(--wedding-text-color);
    }
    ion-label {
        font-family: 'Bellefair', serif;
        font-size: large;
    }
  }
}

@media (max-width: 1000px) {
  p {
    font-size: small;
    margin: 0;
  }
}

p {
    font-size: medium;
    margin: 0;
}