<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let p of appPages; let i = index"
      (click)="selectedIndex = i; dismiss()"
      routerDirection="root"
      [routerLink]="[p.url]"
      lines="none"
      detail="false"
      [class.selected]="selectedIndex == i"
      [style]="{ 'margin-left': p.isSubMenu ? '1rem' : '0' }"
      class="ion-align-items-center"
    >
      <!-- <ion-icon
        *ngIf="p.icon !== 'wedding-rings'"
        slot="start"
        name="{{ p.icon }}"
      ></ion-icon>
      <ion-icon
        *ngIf="p.icon === 'wedding-rings'"
        slot="start"
        src="assets/icon/wedding-rings.svg"
      ></ion-icon> -->
      <p>{{ p.title }}</p>
    </ion-item>
  </ion-list>
</ion-content>
