<ion-content>
  <ion-title mode="md" class="ion-text-center title">Accomodations</ion-title>
  <p class="ion-text-center body">
    <b class="ion-text-wrap">
      We have reserved a hotel room block at SpringHill Suites Baltimore
      Downtown Convention Center for October 28<sup>th</sup> and 29<sup>th</sup>
      at $139 per night.
      <br />
      This block rate is available until September 28<sup>th</sup>.
      <br />
      The hotel is conveniently located fewer than 20 minutes from Baltimore
      International Airport (BWI), and fewer than 10 minutes from the venue. To
      reserve, please visit
      <a
        class="link"
        href="https://www.marriott.com/events/start.mi?id=1658237751127&key=GRP"
        >here</a
      >.
    </b>
  </p>
  <ion-title mode="md" class="ion-text-center title">
    Transportation
  </ion-title>
  <p class="ion-text-center body">
    <b class="ion-text-wrap">
      There will be a shuttle service at the hotel to bring you to the venue at
      3:40pm, 4:00pm, and 4:20pm. Following the reception, we will all return to
      the hotel for the after party!
    </b>
  </p>
  <div class="accent">
    <ion-img [src]="'../../../../assets/images/wedding/logo.png'"></ion-img>
  </div>
</ion-content>
