ion-slides {
  ion-slide {
    height: 30% !important;
    width: 20% !important;
  }
}

.title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.header {
  text-align: center;
}

ion-card {
  --background: rgb(238, 231, 215)
    url("../../../../assets/images/wedding/background.jpg") repeat center center /
    cover;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  border: black;
  width: 90%;
  border-style: double;
}
.message {
  margin-bottom: 1rem;
}

p {
  margin-left: 10rem;
  margin-right: 10rem;
}

@media (max-width: 1000px) {
  p {
    margin: 1rem;
    font-size: medium;
  }

  a {
    margin: 0;
  }

  .accent {
    margin-top: 4rem;
  }
}

.image-card {
  width: 50%;
  margin-top: 0;
}

.hotel-info {
  width: 50%;
}
