<ion-content>
  <ion-title mode="md" class="ion-text-center"> Event Details </ion-title>
  <p class="body">
    <b class="ion-text-wrap">
      <br />
      <br />Our ceremony will begin promptly at 4:30pm. <br />Please join us in
      formal attire!
      <br />
      <br />At cocktail hour, you will have your choice of non-alcoholic
      beverages, beer, wine, and two signature cocktails.
      <br />
    </b>
  </p>
  <p class="ion-text-center">
    <b class="bold">The Jasmine</b>
    <br />Gin & tonic with a splash of St. Germain
    <br />
    <br /><b class="bold">The Luisa</b> <br />Johnny Walker Black & Perrier with
    a twist of lemon
    <br />
  </p>
  <p class="body">
    <b class="ion-text-wrap">
      A sit down dinner will begin at 6:00pm.
      <br />
      <br />When you RSVP, please indicate if you would like the meat,
      vegetarian, or vegan meal. <br />Our caterer is happy to accomodate any
      dietary choices or requirements, which you can include after choosing your
      meal. <br />A detailed menu will be added here on September
      7<sup>th</sup>.
      <br />
      <br />Celebrate with drinks and dancing until 9:00pm, after which we will
      all return to the hotel for a casual after party!
      <br />
      <br />To allow all wedding guests, including parents, a night of
      relaxation and uninhibited revelry, we respectfully ask that no children
      attend the event.
    </b>
  </p>
  <div class="accent">
    <ion-img [src]="'../../../../assets/images/wedding/logo.png'"></ion-img>
  </div>
</ion-content>
