.logo {
  width: 20%;
  align-items: center;
  display: block;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

ion-title {
  margin-top: 3rem;
}

ion-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-group {
  margin-top: 1rem;
}

.radio-label {
  margin-left: 0.5rem;
}
.message {
  margin-bottom: 1rem;
}

@media (max-width: 1300px) {
  .logo {
    width: 30%;
  }

  .message-textarea {
    --padding-bottom: 4rem;
    margin-top: 1rem;
  }

  ion-card {
    width: 93%;
    margin-top: 1rem;
  }

  .diet-label {
    margin-bottom: 1rem;
  }
}

.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: #bdbdbd !important;
}

.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none;
}

.zola-widget {
  width: 90%;
  height: 40rem;
  overflow: hidden;
  border: black;
  border-style: double;
}

.body {
  margin-top: 0;
  margin-left: 10rem;
  margin-right: 10rem;
}

.bold {
  font-weight: 600;
  font-size: 18px;
}

p,
a,
b {
  font-weight: 300;
}

@media (max-width: 1000px) {
  p {
    font-size: medium;
    margin: 1rem;
  }

  .body {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
