/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bellefair&display=swap");

.accent {
  position: relative;
  left: 1rem;
  bottom: 1rem;
  width: 11rem;
  z-index: 0;
}

@media (max-width: 1000px) {
  .accent {
    transform: translate(-50%, 0);
    left: 50%;
    width: 9rem;
    position: relative;
    margin-top: 1.5rem;
    bottom: 0.2rem;
  }

  ion-title,
  h1 {
    font-family: "Marcellus", serif;
    font-weight: 600;
    font-size: x-large;
    color: var(--wedding-text-color);
    --color: var(--wedding-text-color);
    letter-spacing: 2px;
  }

  p,
  a,
  ion-label {
    font-family: "Bellefair", sans-serif;
    color: var(--wedding-text-color);
    --color: var(--wedding-text-color);
    font-size: medium;
    letter-spacing: 2px;
    font-weight: medium;
    margin: 1rem;
  }
}

ion-title,
h1 {
  font-family: "Marcellus", serif;
  font-weight: 600;
  font-size: x-large;
  color: var(--wedding-text-color);
  --color: var(--wedding-text-color);
  letter-spacing: 2px;
}

p,
a,
ion-label,
ion-input,
input,
ion-textarea {
  font-family: "Bellefair", sans-serif;
  color: var(--wedding-text-color);
  --color: var(--wedding-text-color);
  font-size: medium;
  letter-spacing: 2px;
  font-weight: medium;
}

ion-content {
  --background: var(--wedding-background);
}

.popover-content {
  background: var(--wedding-background);
}

.link {
  color: aqua;
}